<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/global.css">
</head>
<body>
    <header>
        <nav>
            <div class="navbar">
                <div class="left">
                    <img src="../assets/logos/navbar-logo.png" alt="LOGO">
                    Tenders & Bids
                </div>
                <div class="right">
                    <div class="navigation">
                        <ul class="text-nav">
                            <li>
                                <a href="">Tenders</a>
                            </li>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Blogs</a></li>
                            <li><a href="">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="btn">
                        <button class="primary-btn">
                            <a href="">Get started free</a>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</body>
</html>