<header class="site-header">
    <nav class="navbar" aria-label="Primary">
        <a class="brand" href="../index.html" aria-label="Tenders & Bids">
            <img src="../assets/logos/logo.svg" alt="" width="130" height="23">
        </a>
        <div class="navbar__right">
            <ul class="nav-list">
                <li><a class="nav-link" href="#">Tenders</a></li>
                <li><a class="nav-link" href="#">About us</a></li>
                <li><a class="nav-link" href="#">Blogs</a></li>
                <li><a class="nav-link" href="#">Contact us</a></li>
            </ul>
            <a class="btn btn-primary btn-sm" href="#">Get started free</a>
        </div>
    </nav>
</header>
